@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

* {
  font-size: 16px;
}

p {
  color: rgb(240, 237, 237);
}

article {
  background-color: #02adc8;
}

/*selector grupal*/

p,
h2 {
  background-color: rebeccapurple;
}

/*asi se hace un comentario en css*/

/*selector decendente*/
footer p {
  color: greenyellow;
  font-size: 1.5em;
}

a:link {
  color: red;
}

a:visited {
  color: orange;
}

a:active {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: white;
  background-color: black;
  font-style: italic;
}

a {
  /*text-decoration: underline red wavy;*/
  text-decoration: none;
}

footer {
  box-sizing: border-box; /*absorbe agregados de padding*/
  width: 500px;
  height: 250px;
  border: 1px solid black;
  margin-left: 50px;
  margin-top: 20px;
  padding: 100px;
}

textarea {
  resize: none;
}

input {
  display: block;
}
